<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.fullname %> profile</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class=" flex items-center justify-center h-screen">
        <div class="w-1/2 border-[2px] rounded-md p-10 border-indigo-600 ">
            <h4 class="text-2xl mb-5">Edite your Profile</h4>
            <form autocomplete="off" action="/editprofile" method="post">
                <input class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                    type="text" placeholder="fullname :- <%= user.fullname %>" name="fullname">
                <input class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                    type="email" placeholder="email :- <%= user.email %>" name="email">
                <input class="px-5 rounded-full py-3 mt-2 bg-blue-500 text-white" type="submit"
                    value="Edite Account">
            </form>
        </div>
    </div>
</body>
</html>